* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  @font-face {
    font-family: poppins-light;
    src: url("../fonts/poppins/Poppins-Light.ttf");
    font-display: fallback;
    font-weight: 400;
  }
  
  @font-face {
    font-family: helveticaneue;
    src: url("../fonts/helveticaneue/HelveticaNeueNormal.otf");
    font-display: fallback;
    font-weight: 400;
  }
  
  @font-face {
    font-family: helveticaneue;
    src: url("../fonts/helveticaneue/HelveticaNeueBold.otf");
    font-display: fallback;
    font-weight: 700;
  }