body {
    font-family: poppins;
    font-size: 14px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 4rem;;
    padding: 0 var(--padding-side);
}

h1 {
    color: var(--violet);
    font-weight: 700;
    align-self: flex-start;
    margin-top: 2rem;
}

.duplex {
    display: flex;
    flex-direction: row;
    gap: 4vw;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.duplex > img {
    width: 30vw;
    min-width: 368px;
    height: auto;       
}

@media screen and (width < 1184px) {
    .duplex > img {
        display: none;     
    }
}

h2 {
    color: var(--violet);
    font-weight: 700;
    font-size: 1.8rem;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 30vw;

    p:first-child {
        font-weight: 600;
        font-size: 1.2rem;
        color: var(--green);
        font-style: italic;
        line-height: 1.2rem;
    }

    p:last-child {
        font-family: helveticaneue;
        font-weight: 400;
        color: gray;
        font-size: 1rem;
        line-height: 1.4rem;
    }
}

@media screen and (width < 1184px) {
    .description {
        width: 80vw;
    }
}

.corporate {
    width: 100%;

    h2 {
        margin-bottom: 3rem;
    }
}



.badges {
    display: grid;
    grid-template-columns: repeat(auto-fit, 15rem);
    gap: 15px;
    justify-content: center;
}

.badges > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}