:root {
  --violet: #3B0978;
  --green: #B6DC10;
  --padding-side: clamp(10vw, 4vw, 1vw);
}

@font-face {
  font-family: poppins;
  src: url("./fonts/poppins/Poppins-Medium.ttf");
  font-display: fallback;
  font-weight: 500;
}

@font-face {
  font-family: poppins;
  src: url("./fonts/poppins/Poppins-SemiBold.ttf");
  font-display: fallback;
  font-weight: 600;
}

@font-face {
  font-family: poppins;
  src: url("./fonts/poppins/Poppins-Bold.ttf");
  font-display: fallback;
  font-weight: 700;
}

@font-face {
  font-family: helveticaneue;
  src: url("./fonts/helveticaneue/HelveticaNeueNormal.otf");
  font-display: fallback;
  font-weight: 400;
}

@font-face {
  font-family: helveticaneue;
  src: url("./fonts/helveticaneue/HelveticaNeueBold.otf");
  font-display: fallback;
  font-weight: 700;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #fff;
    height: 100%;
  }
  
  .no-display{
    display: none;
  }
  
  .relative {
    position: relative;
  }
  
  .absolute {
    display: block;
    position: absolute;
  }


/*--------*/  
/* header */
/*--------*/

header {
  position: relative;
  box-shadow: 0 0 15px #808080a1;
}

@media (max-width:754px) {
  .socials-contacts {
    display: none;
  }

}

/*------------*/
/* popup menu */
/*------------*/

.popup-menu {
  position: absolute;
  width: 100vw;
  z-index: 5;
}


